= form_for Message.new, url: { controller: :groups, action: :post_message }, class: ".form-inline" do |f|
  .form-group
    = f.label :content, class: "sr-only"
    = f.text_field :content, class: "form-control", placeholder: "message"
    = f.submit "Post", class: "btn btn-default"

