.jumbotron
  %h1 Do things together.
  %p
    What are you
    %strong doing
    now?
.list-group
  - @groups.each do |group|
    .list-group-item
      = link_to group.name, group
      %span.badge
        #{group.members.count} members

= render partial: 'form'
