%nav.navbar.navbar-default.navbar-inverse
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
      .sr-only
        Toggle navigation
      .icon-bar
      .icon-bar
      .icon-bar
    = link_to t(:app_name), root_path, :class => 'navbar-brand'

  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.navbar-right
      %li= current_user.username
      - if current_user.class == User
        %li= link_to "Sign out", destroy_user_session_path, method: :delete

