%nav.navbar.navbar-default{role: "navigation"}
  .navbar-header
    -# %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
    -#   .sr-only
    -#     Toggle navigation
    -#   .icon-bar
    -#   .icon-bar
    -#   .icon-bar
    = link_to t(:app_name), root_path, :class => 'navbar-brand'
    %p.navbar-text
      You are 
      %strong= current_or_guest_user.username
      - unless user_signed_in?
        (guest)

  -# .collapse.navbar-collapse.navbar-ex1-collapse
    -# %ul.nav.navbar-nav
    -#   %li
        -# - if user_signed_in?
        -#   = link_to "Sign out", destroy_user_session_path, method: :delete
        -# - else
        -#   = link_to "Sign In", new_user_session_path

