$body-bg: #27221A;
$brand-primary: #527557;
$jumbotron-bg: rgba(0,0,0,0.4);
$jumbotron-color: #F6E6CC;
$navbar-default-bg: #3b1d12;
$navbar-default-brand-color: #e9cf92;
$btn-default-color: #fff;
$btn-default-bg: #4C3612;
$input-color: #fff;
$input-bg: rgba(0,0,0,0.3);
$input-border: rgba(255,255,255,0.3);
$input-border-focus: rgba(255,255,255,0.4);
$list-group-bg: rgba(0,0,0,0.3);
$list-group-border: transparent;
