.jumbotron
  %h1 Coffeeshop always gets better.
  %p
    As an open community, we request and build our own features.
  %p.small
    Can't wait? Grab a fork and dig in:
    = link_to "Coffeeshop Github", 'https://github.com/mrap/coffeeshop'

= render partial: 'form'

= render partial: 'list'
